/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 nav.navbar {
    background-color: #F0FFF0;
}

#logo{
  font-size: 2.7em;
  letter-spacing: -7px;
  color: #00008B;
}

body{
  background-color: #F0FFF0;
}
.title{
  color: #778899;
}

.table{
  background-color: #B0E0E6;
}

.table1{
  background-color: #B0E0E6;
  color: #5d5d3c;
}

.table2{
  background-color: #B0E0E6;
  color: black;
}

.log_in{
  background-color: #F0FFF0;
  color: #00008B;
  padding: 5px;
  margin: 5px;
  margin-left: 40%;
}

.sign_in{
  color: #00008B;
  letter-spacing: -3px;
}

.btn{
  border-radius: 70px;
  border-style: solid;
}

.field{
 color: black;
}
